* {
    margin: 0px;
}

body {
    background-color: lavender;
    height: 100%;
}

header {
    background-color: cadetblue;
    padding: 2%;
}

h1 {
    margin: 2% 0%; 
}

a:hover {
    background-color: yellow;
    opacity: 0.6;
}

p {
    margin: 2% 0%;
}

p.black-box {
    margin: auto;
    width: 50%;
    border: solid 5px black;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
}

#first-black-box {
    font-weight: bold;
}

#second-black-box {
    line-height: 2.0;
    color:#8B4513;
}

p.red-box {
    border: solid 5px red;
}

#first-red-box {
    font-family: 'Tahoma', serif;
    font-style: italic;
    font-size: 14px;
    text-align: right;
}

#second-red-box {
    font-family: 'Arial';
    color: #FF4500;
    font-size: 12px;
}

footer {
    background-color: black;
    width: 100%;
}

footer p {
    color: white;
    margin: auto;
    text-align: center;
}